/*=============================== BOXES & CONTAINERS ===============================*/
.body-container {
    background: lightgrey;
}
.header-container {
    background: #2d3944;
    text-transform: uppercase;
    color: white;
    text-align: center;
    margin: 0 20px;
    padding: 10px;
}
.title,
.form-container,
.footer-container {
    margin: 0 20px;
    background: white;
    padding: 10px;
}
.info-box {
    padding: 10px 0;
    background: #53bab4;
    border-radius: 5px;
}
/*=============================== DECORATIVE LINES  ===============================*/
.title-line {
    border-top: 8px solid #2d3944;
    border-bottom: 4px solid #2d3944;
    border-right: none;
    border-left: none;
    height: 5px;
    margin: 15px auto;
    width: 95%;
}
.nl-line {
    border-bottom: 4px solid #2d3944;
    margin: 15px auto;
}
/*=============================== GENERAL STYLES ===============================*/
h2 {
    color: #2d3944;
    text-align: center;
    font-size: 1.6em;
    margin: 15px;
}
p {
    padding: 0 20px;
    text-align: center;
    font-size: 1.3em;
    margin: 0 0 20px 0;
    color: lightgrey;
}
/*=============================== FORM STYLES ===============================*/
fieldset {
    border: none;
}
textarea, 
button,
select,
input[type="text"],
input[type="email"],
input[type="tel"] {
    width : 95%;
    padding: 20px;
    display: block;
    margin: auto;
    box-sizing: border-box;
    cursor: pointer;
    background: #eff0f1;
    border-radius: 5px;
    border: none;
}
::placeholder {
    text-align: right;
    font-style: italic;
    color: grey;
}
#other::placeholder {
    text-align: left;
}
#state-choice {
    height: 58px;
}
textarea {
    height: 100px;
    margin: 10px;
}
button {
    background-color: #53bab4;
    color: white;
}
.legend {
    text-align: left;
    padding-left: 0;
    margin-left: 0;
}
label {
    font-size: 1.1em;
    margin: 10px;
    line-height: 2.3em;   
}
#zip {
    width: 55%;
    margin-left: 10px;
}
/*=============================== FOCUS , TRANSISTIONS & HOVER ===============================*/
textarea:focus,
input[type="email"]:focus,
input[type="tel"]:focus,
input[type="text"]:focus {
    border: 4px dashed purple;
}
#state-choice:focus,
#zip:focus {
    border: 4px dashed purple;
}
textarea:hover,
input[type="email"]:hover,
input[type="tel"]:hover,
input[type="text"]:hover {
    background: lightgrey;
    transition-duration: 2s;
}
#state-choice:hover,
#zip:hover {
    background: lightgrey;
    transition-duration: 2s;
}
/*=============================== FOOTER ===============================*/
  .main-footer {
      text-align: center;
      font-style: italic;
      padding: 15px;
      color: lightgrey;
  }
  /*=============================== MEDIA        ===============================
  /*===============================       QUERIES ===============================*/
@media (min-width: 768px) {
    .body-container {
        background: white;
    }
    .header-container,
    .nl,
    .footer-container {
        width: 100%;
        margin: 0;
    }
    .title {
        display: block;
        margin: auto;
    }
    .title-line {
        width: 83%;
    }
    .nl-line {
        margin: 10px 0;
    }
    .form-container {
        display: block;
        width: 80%;
        margin: 0 auto;
        padding: 0;
    }
    fieldset {
        padding: 0;
    }
    .info-box {
        display: block;
        margin: 0;
        padding: 10px;
    }
    .info {
        display: flex;
        flex-direction: row;      
    }
    .item1 {
        width: 30%;
        text-align: left;
        margin: 0;
        align-self: center;
    }
    select,
    input[type="text"], 
    input[type="tel"], 
    input[type="email"] {
        width: 70%;
        margin: 10px 0;
    }
    #zip {
        width: 40%;
        margin-left: 0;
    }
    textarea,
    button {
        margin: 20px 0;
        width: 100%;
    }
}




